[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "config/ghostty/shaders"]
	path = config/ghostty/shaders
	url = https://github.com/hackr-sh/ghostty-shaders.git
